target/
.idea/
*.iml
.~lock*
*.tgz
AndroidManifest.xml
.swagger-codegen/
**/swagger/.gitignore
**/swagger/gradle/
**/swagger/.swagger-codegen-ignore
**/swagger/.travis.yml
**/swagger/build.gradle
**/swagger/build.sbt
**/swagger/git_push.sh
**/swagger/gradle.properties
**/swagger/gradlew
**/swagger/gradlew.bat
**/swagger/pom.xml
**/swagger/README.md
**/swagger/settings.gradle

/service/src/main/resources/application-local.properties
/service/src/main/resources/db/liquibase-local.properties
